@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;




@layer utilities {
  @keyframes firefly {
    0% {
      transform: translate(0px, 0px) scale(1);
      opacity: 0.2;
    }

    25% {
      transform: translate(20px, -30px) scale(1.2);
      opacity: 1;
    }

    50% {
      transform: translate(-15px, -60px) scale(0.8);
      opacity: 0.4;
    }

    75% {
      transform: translate(30px, 20px) scale(1.1);
      opacity: 1;
    }

    100% {
      transform: translate(0px, 0px) scale(1);
      opacity: 0.2;
    }
  }

  .animate-firefly {
    animation: firefly linear infinite;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .smooth-scroll {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

#hero,
#about,
#projects,
#skills,
#experience,
#contact {
  scroll-margin-top: 110px;   /* Adjust this value */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(59, 130, 246, 0.2);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.5);
}